node_red_flow.txt
[{"id":"f9f85339.4b6408","type":"mqtt in","z":"51da3e4f.3577e8","name":"","topic":"kilncontrol/status","qos":"2","broker":"6a69588e.42fd8","x":150.8666534423828,"y":175.79998779296875,"wires":[["82fa3f2f.b60a3","f7880121.84b11"]]},{"id":"82fa3f2f.b60a3","type":"ui_text","z":"51da3e4f.3577e8","group":"6eadc31f.577d74","order":4,"width":"6","height":"3","name":"Kiln Status","label":"Kiln Status","format":"{{msg.payload}}","layout":"row-spread","x":748.8666381835938,"y":28.149986267089844,"wires":[]},{"id":"f7880121.84b11","type":"json","z":"51da3e4f.3577e8","name":"","pretty":false,"x":192.8666534423828,"y":235.14999389648438,"wires":[["c55aa0e9.4f2dd"]]},{"id":"c55aa0e9.4f2dd","type":"function","z":"51da3e4f.3577e8","name":"analyse_status","func":"this.context.flow[\"kiln_active\"] = (0!==msg.payload.desired);\n\nreturn [ \n    {payload: msg.payload.actual, topic: \"actual\"},\n    {payload: msg.payload.internal, topic: \"internal\"},\n    {payload: msg.payload.desired, topic: \"desired\"},\n    {payload: msg.payload.doHeating, topic: \"heating\"}\n];\n","outputs":"4","noerr":0,"x":372.86663818359375,"y":248.56668090820312,"wires":[["5d17ad4.e9a4754","2284ae0.5e2c552","261e79a4.e63b56"],["e543c40.924114","3fafa2e9.644e1e"],["125e3ebb.e5a4c1","2284ae0.5e2c552","a188dbf7.08c3d8"],["65b59a39.15ea44"]],"outputLabels":["Actual","Internal","Desired","Heating"]},{"id":"b893ddaa.1ab948","type":"ui_button","z":"51da3e4f.3577e8","name":"Start","group":"85daf419.f8fcd8","order":0,"width":0,"height":0,"passthru":false,"label":"Start","color":"","bgcolor":"","icon":"","payload":"test","payloadType":"str","topic":"kilncontrol/start","x":122.86665344238281,"y":45,"wires":[["a49f7843.4d60a8"]]},{"id":"a0b2d56c.9c507","type":"ui_button","z":"51da3e4f.3577e8","name":"Stop","group":"85daf419.f8fcd8","order":0,"width":0,"height":0,"passthru":false,"label":"Stop","color":"","bgcolor":"","icon":"","payload":"unimportant","payloadType":"str","topic":"kilncontrol/stop","x":118.86665344238281,"y":88.99999237060547,"wires":[["a49f7843.4d60a8"]]},{"id":"a49f7843.4d60a8","type":"mqtt out","z":"51da3e4f.3577e8","name":"Control Heating","topic":"","qos":"","retain":"","broker":"6a69588e.42fd8","x":282.86663818359375,"y":66.5333251953125,"wires":[]},{"id":"5d17ad4.e9a4754","type":"ui_text","z":"51da3e4f.3577e8","group":"6eadc31f.577d74","order":1,"width":0,"height":0,"name":"","label":"Actual","format":"{{msg.payload}} °C","layout":"row-spread","x":730.8666381835938,"y":75.64998626708984,"wires":[]},{"id":"125e3ebb.e5a4c1","type":"ui_text","z":"51da3e4f.3577e8","group":"6eadc31f.577d74","order":2,"width":0,"height":0,"name":"","label":"Desired","format":"{{msg.payload}} °C","layout":"row-spread","x":744.8666381835938,"y":163.64999389648438,"wires":[]},{"id":"e543c40.924114","type":"ui_text","z":"51da3e4f.3577e8","group":"6eadc31f.577d74","order":3,"width":0,"height":0,"name":"","label":"Internal","format":"{{msg.payload}} °C","layout":"row-spread","x":745.8666381835938,"y":121.64998626708984,"wires":[]},{"id":"8f705820.5adc58","type":"http in","z":"51da3e4f.3577e8","name":"Heating Curve1","url":"/kiln/curve1","method":"get","upload":false,"swaggerDoc":"","x":204.8666534423828,"y":472.7166442871094,"wires":[["8d0f7a4c.21ccb"]]},{"id":"8d0f7a4c.21ccb","type":"function","z":"51da3e4f.3577e8","name":"Curve1","func":"msg.payload = {curve: [\n {h:5, m:0, s:0, t:600},\n {h:1, m:30, s:0, t:950},\n {h:0, m:25, s:0, t:950}\n]};\n\nreturn msg;","outputs":1,"noerr":0,"x":411.86663818359375,"y":471.5666809082031,"wires":[["c8218ea1.9c6c78"]]},{"id":"c8218ea1.9c6c78","type":"json","z":"51da3e4f.3577e8","name":"to_json","pretty":true,"x":597.8666381835938,"y":473.0666809082031,"wires":[["f7632d16.455da"]]},{"id":"f7632d16.455da","type":"http response","z":"51da3e4f.3577e8","name":"response","statusCode":"200","headers":{"content-type":"application/json"},"x":786.8666381835938,"y":473.6000061035156,"wires":[]},{"id":"cbd62519.874e","type":"http in","z":"51da3e4f.3577e8","name":"Heating Curve 2","url":"/kiln/curve2","method":"get","upload":false,"swaggerDoc":"","x":208.8666534423828,"y":527.2166290283203,"wires":[["b492dd20.8146f"]]},{"id":"b492dd20.8146f","type":"function","z":"51da3e4f.3577e8","name":"Curve2","func":"msg.payload = {curve: [\n {h:0, m:5, s:0, t:600},\n {h:0, m:5, s:0, t:950},\n {h:0, m:5, s:0, t:950},\n {h:0, m:5, s:0, t:500}\n]};\n\nreturn msg;","outputs":1,"noerr":0,"x":395.8666534423828,"y":530.3999786376953,"wires":[["c8218ea1.9c6c78"]]},{"id":"2284ae0.5e2c552","type":"ui_chart","z":"51da3e4f.3577e8","name":"","group":"d5abe0fb.6f166","order":2,"width":"0","height":"0","label":"Last 15 Minutes","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff0000","#80ff80","#0000ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":820.8666381835938,"y":271.98333740234375,"wires":[[],[]]},{"id":"65b59a39.15ea44","type":"function","z":"51da3e4f.3577e8","name":"MultiplyWith100","func":"msg.payload = msg.payload*100;\nreturn msg;","outputs":1,"noerr":0,"x":621.8666381835938,"y":295.39996337890625,"wires":[["2284ae0.5e2c552"]]},{"id":"261e79a4.e63b56","type":"function","z":"51da3e4f.3577e8","name":"Filter12","func":"if (!this.context.flow[\"kiln_active\"]) return null;\n\nvar cnt = this.context.get(\"count\");\nif (undefined === cnt) cnt = 0;\nif (0 !== (cnt++ % 12) )\n{\n   msg = null;\n}\nthis.context.set(\"count\", cnt);\nreturn msg;","outputs":1,"noerr":0,"x":601.8666381835938,"y":347.23333740234375,"wires":[["34a32aff.7d61a6"]]},{"id":"34a32aff.7d61a6","type":"ui_chart","z":"51da3e4f.3577e8","name":"","group":"d5abe0fb.6f166","order":1,"width":0,"height":0,"label":"Brennkurve","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff0000","#00ff00","#0000ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":820.8666381835938,"y":386.98333740234375,"wires":[[],[]]},{"id":"a188dbf7.08c3d8","type":"function","z":"51da3e4f.3577e8","name":"Filter12","func":"if (!this.context.flow[\"kiln_active\"]) return null;\n\nvar cnt = this.context.get(\"count\");\nif (undefined === cnt) cnt = 0;\nif (0 !== (cnt++ % 12) )\n{\n   msg = null;\n}\nthis.context.set(\"count\", cnt);\nreturn msg;","outputs":1,"noerr":0,"x":593.8666381835938,"y":387.14996337890625,"wires":[["34a32aff.7d61a6"]]},{"id":"38816960.54a466","type":"ui_chart","z":"51da3e4f.3577e8","name":"","group":"6eadc31f.577d74","order":0,"width":0,"height":0,"label":"Room temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff80ff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":842.8666381835938,"y":205.56668090820312,"wires":[[],[]]},{"id":"3fafa2e9.644e1e","type":"function","z":"51da3e4f.3577e8","name":"Filter24","func":"var cnt = this.context.get(\"count\");\nif (undefined === cnt) cnt = 0;\nif (0 !== (cnt++ % 24) )\n{\n   msg = null;\n}\nthis.context.set(\"count\", cnt);\nreturn msg;","outputs":1,"noerr":0,"x":661.8666381835938,"y":209.89999389648438,"wires":[["38816960.54a466"]]},{"id":"6a69588e.42fd8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"6eadc31f.577d74","type":"ui_group","z":"","name":"Status","tab":"acc7aae0.b16fb","order":2,"disp":true,"width":"6"},{"id":"85daf419.f8fcd8","type":"ui_group","z":"","name":"Control","tab":"acc7aae0.b16fb","order":1,"disp":true,"width":"6"},{"id":"d5abe0fb.6f166","type":"ui_group","z":"","name":"Status Graph","tab":"acc7aae0.b16fb","order":3,"disp":true,"width":"6"},{"id":"acc7aae0.b16fb","type":"ui_tab","z":"51da3e4f.3577e8","name":"Kiln","icon":"dashboard"}]